<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyLists/PROPERTY_LIST.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Lyceum Mediaworks shares your library between your Mac and your iPhone, iPad and Apple TV over your home network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_lyceum._tcp</string>
	</array>
</dict>
</plist>
